Luma-workflows/luma_tool_sub-workflows-for-actions.json
{
  "tools": [
    {
      "name": "Financial Summary Tool",
      "workflow": {
        "name": "Tool - Financial Summary",
        "nodes": [
          {
            "parameters": {},
            "id": "execute-workflow-trigger",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [240, 300]
          },
          {
            "parameters": {
              "resource": "row",
              "operation": "getAll",
              "tableId": "expenses",
              "returnAll": false,
              "limit": 50,
              "filterType": "manual",
              "matchType": "allFilters",
              "filters": [
                {
                  "key": "house_id",
                  "operator": "eq",
                  "value": "={{ $json.house_id }}"
                },
                {
                  "key": "expense_date",
                  "operator": "gte",
                  "value": "={{ $now.minus({months: 1}).toISO() }}"
                }
              ],
              "options": {}
            },
            "id": "get-expenses",
            "name": "Get Recent Expenses",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [460, 300],
            "credentials": {
              "supabaseApi": {
                "id": "supabase-creds",
                "name": "Supabase Luma"
              }
            }
          },
          {
            "parameters": {
              "resource": "row",
              "operation": "getAll",
              "tableId": "monthly_budgets",
              "returnAll": false,
              "limit": 1,
              "filterType": "manual",
              "matchType": "allFilters",
              "filters": [
                {
                  "key": "house_id",
                  "operator": "eq",
                  "value": "={{ $('Execute Workflow Trigger').item.json.house_id }}"
                },
                {
                  "key": "month",
                  "operator": "eq",
                  "value": "={{ $now.toFormat('yyyy-MM') }}"
                }
              ],
              "options": {}
            },
            "id": "get-budget",
            "name": "Get Monthly Budget",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [460, 420],
            "credentials": {
              "supabaseApi": {
                "id": "supabase-creds",
                "name": "Supabase Luma"
              }
            }
          },
          {
            "parameters": {
              "jsCode": "const expenses = $('Get Recent Expenses').all();\nconst budget = $('Get Monthly Budget').first();\n\n// Calculate totals by category\nconst byCategory = expenses.reduce((acc, exp) => {\n  const cat = exp.json.category?.name || 'Sem categoria';\n  acc[cat] = (acc[cat] || 0) + parseFloat(exp.json.amount);\n  return acc;\n}, {});\n\n// Calculate total spent\nconst totalSpent = expenses.reduce((sum, exp) => sum + parseFloat(exp.json.amount), 0);\n\n// Get top 3 categories\nconst topCategories = Object.entries(byCategory)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 3)\n  .map(([category, amount]) => ({ category, amount: amount.toFixed(2) }));\n\n// Calculate budget info\nconst budgetAmount = budget?.json?.amount ? parseFloat(budget.json.amount) : 0;\nconst remaining = budgetAmount - totalSpent;\nconst percentUsed = budgetAmount > 0 ? ((totalSpent / budgetAmount) * 100).toFixed(1) : 0;\n\n// Days left in month\nconst now = new Date();\nconst lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\nconst daysLeft = Math.ceil((lastDay - now) / (1000 * 60 * 60 * 24));\n\nreturn [{\n  json: {\n    success: true,\n    summary: {\n      total_spent: totalSpent.toFixed(2),\n      budget_amount: budgetAmount.toFixed(2),\n      remaining: remaining.toFixed(2),\n      percent_used: percentUsed,\n      days_left_in_month: daysLeft,\n      top_categories: topCategories,\n      expense_count: expenses.length,\n      average_expense: (totalSpent / expenses.length).toFixed(2)\n    }\n  }\n}];"
            },
            "id": "aggregate-data",
            "name": "Calculate Financial Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [680, 360]
          }
        ],
        "connections": {
          "Execute Workflow Trigger": {
            "main": [
              [
                {
                  "node": "Get Recent Expenses",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Get Monthly Budget",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Recent Expenses": {
            "main": [
              [
                {
                  "node": "Calculate Financial Summary",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Monthly Budget": {
            "main": [
              [
                {
                  "node": "Calculate Financial Summary",
                  "type": "main",
                  "index": 1
                }
              ]
            ]
          }
        }
      }
    },
    {
      "name": "Tasks Tool",
      "workflow": {
        "name": "Tool - Get Tasks",
        "nodes": [
          {
            "parameters": {},
            "id": "execute-workflow-trigger",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [240, 300]
          },
          {
            "parameters": {
              "resource": "row",
              "operation": "getAll",
              "tableId": "tasks",
              "returnAll": false,
              "limit": 50,
              "filterType": "manual",
              "matchType": "allFilters",
              "filters": [
                {
                  "key": "house_id",
                  "operator": "eq",
                  "value": "={{ $json.house_id }}"
                },
                {
                  "key": "status",
                  "operator": "={{ $json.status_filter ? 'eq' : 'neq' }}",
                  "value": "={{ $json.status_filter || 'CANCELLED' }}"
                }
              ],
              "options": {
                "sort": {
                  "sortProperties": [
                    {
                      "property": "due_date",
                      "direction": "ASC"
                    },
                    {
                      "property": "priority",
                      "direction": "DESC"
                    }
                  ]
                }
              }
            },
            "id": "get-tasks",
            "name": "Get Tasks",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [460, 300],
            "credentials": {
              "supabaseApi": {
                "id": "supabase-creds",
                "name": "Supabase Luma"
              }
            }
          },
          {
            "parameters": {
              "jsCode": "const tasks = $input.all();\nconst now = new Date();\n\nconst processedTasks = tasks.map(task => {\n  const t = task.json;\n  const dueDate = t.due_date ? new Date(t.due_date) : null;\n  const isOverdue = dueDate && dueDate < now && t.status !== 'COMPLETED';\n  \n  return {\n    id: t.id,\n    title: t.title,\n    description: t.description,\n    status: t.status,\n    priority: t.priority,\n    due_date: t.due_date,\n    is_overdue: isOverdue,\n    assigned_to: t.assigned_to?.name || 'Não atribuído',\n    created_by: t.created_by?.name || 'Desconhecido',\n    points: t.points || 10\n  };\n});\n\n// Group by status\nconst byStatus = processedTasks.reduce((acc, task) => {\n  acc[task.status] = (acc[task.status] || 0) + 1;\n  return acc;\n}, {});\n\nreturn [{\n  json: {\n    success: true,\n    tasks: processedTasks,\n    summary: {\n      total: processedTasks.length,\n      by_status: byStatus,\n      overdue: processedTasks.filter(t => t.is_overdue).length\n    }\n  }\n}];"
            },
            "id": "process-tasks",
            "name": "Process Tasks",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [680, 300]
          }
        ],
        "connections": {
          "Execute Workflow Trigger": {
            "main": [
              [
                {
                  "node": "Get Tasks",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Tasks": {
            "main": [
              [
                {
                  "node": "Process Tasks",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    },
    {
      "name": "Create Task Tool",
      "workflow": {
        "name": "Tool - Create Task",
        "nodes": [
          {
            "parameters": {},
            "id": "execute-workflow-trigger",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [240, 300]
          },
          {
            "parameters": {
              "resource": "row",
              "operation": "create",
              "tableId": "tasks",
              "dataMode": "defineBelow",
              "fieldsUi": {
                "fieldValues": [
                  {
                    "fieldId": "house_id",
                    "fieldValue": "={{ $json.house_id }}"
                  },
                  {
                    "fieldId": "created_by_id",
                    "fieldValue": "={{ $json.created_by_id }}"
                  },
                  {
                    "fieldId": "title",
                    "fieldValue": "={{ $json.title }}"
                  },
                  {
                    "fieldId": "description",
                    "fieldValue": "={{ $json.description || '' }}"
                  },
                  {
                    "fieldId": "priority",
                    "fieldValue": "={{ $json.priority || 'MEDIUM' }}"
                  },
                  {
                    "fieldId": "status",
                    "fieldValue": "PENDING"
                  },
                  {
                    "fieldId": "due_date",
                    "fieldValue": "={{ $json.due_date || null }}"
                  },
                  {
                    "fieldId": "assigned_to_id",
                    "fieldValue": "={{ $json.assigned_to_id || null }}"
                  },
                  {
                    "fieldId": "points",
                    "fieldValue": "10"
                  }
                ]
              },
              "options": {}
            },
            "id": "create-task",
            "name": "Create Task in Database",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [460, 300],
            "credentials": {
              "supabaseApi": {
                "id": "supabase-creds",
                "name": "Supabase Luma"
              }
            }
          },
          {
            "parameters": {
              "assignments": {
                "assignments": [
                  {
                    "id": "success",
                    "name": "success",
                    "value": true,
                    "type": "boolean"
                  },
                  {
                    "id": "task_id",
                    "name": "task_id",
                    "value": "={{ $json.id }}",
                    "type": "string"
                  },
                  {
                    "id": "message",
                    "name": "message",
                    "value": "Tarefa criada com sucesso!",
                    "type": "string"
                  }
                ]
              },
              "options": {}
            },
            "id": "format-response",
            "name": "Format Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [680, 300]
          }
        ],
        "connections": {
          "Execute Workflow Trigger": {
            "main": [
              [
                {
                  "node": "Create Task in Database",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Create Task in Database": {
            "main": [
              [
                {
                  "node": "Format Response",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    },
    {
      "name": "Create Expense Tool",
      "workflow": {
        "name": "Tool - Create Expense",
        "nodes": [
          {
            "parameters": {},
            "id": "execute-workflow-trigger",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [240, 300]
          },
          {
            "parameters": {
              "resource": "row",
              "operation": "getAll",
              "tableId": "expense_categories",
              "returnAll": false,
              "limit": 1,
              "filterType": "manual",
              "matchType": "allFilters",
              "filters": [
                {
                  "key": "house_id",
                  "operator": "eq",
                  "value": "={{ $json.house_id }}"
                },
                {
                  "key": "name",
                  "operator": "ilike",
                  "value": "={{ $json.category }}"
                }
              ],
              "options": {}
            },
            "id": "find-category",
            "name": "Find Category",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [460, 300],
            "credentials": {
              "supabaseApi": {
                "id": "supabase-creds",
                "name": "Supabase Luma"
              }
            }
          },
          {
            "parameters": {
              "resource": "row",
              "operation": "create",
              "tableId": "expenses",
              "dataMode": "defineBelow",
              "fieldsUi": {
                "fieldValues": [
                  {
                    "fieldId": "house_id",
                    "fieldValue": "={{ $('Execute Workflow Trigger').item.json.house_id }}"
                  },
                  {
                    "fieldId": "created_by_id",
                    "fieldValue": "={{ $('Execute Workflow Trigger').item.json.created_by_id }}"
                  },
                  {
                    "fieldId": "amount",
                    "fieldValue": "={{ $('Execute Workflow Trigger').item.json.amount }}"
                  },
                  {
                    "fieldId": "description",
                    "fieldValue": "={{ $('Execute Workflow Trigger').item.json.description }}"
                  },
                  {
                    "fieldId": "category_id",
                    "fieldValue": "={{ $json.id || null }}"
                  },
                  {
                    "fieldId": "expense_date",
                    "fieldValue": "={{ $('Execute Workflow Trigger').item.json.expense_date || $now.toISO() }}"
                  },
                  {
                    "fieldId": "is_recurring",
                    "fieldValue": "={{ $('Execute Workflow Trigger').item.json.is_recurring || false }}"
                  },
                  {
                    "fieldId": "is_paid",
                    "fieldValue": false
                  }
                ]
              },
              "options": {}
            },
            "id": "create-expense",
            "name": "Create Expense in Database",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [680, 300],
            "credentials": {
              "supabaseApi": {
                "id": "supabase-creds",
                "name": "Supabase Luma"
              }
            }
          },
          {
            "parameters": {
              "assignments": {
                "assignments": [
                  {
                    "id": "success",
                    "name": "success",
                    "value": true,
                    "type": "boolean"
                  },
                  {
                    "id": "expense_id",
                    "name": "expense_id",
                    "value": "={{ $json.id }}",
                    "type": "string"
                  },
                  {
                    "id": "message",
                    "name": "message",
                    "value": "Despesa registrada com sucesso!",
                    "type": "string"
                  }
                ]
              },
              "options": {}
            },
            "id": "format-response",
            "name": "Format Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [900, 300]
          }
        ],
        "connections": {
          "Execute Workflow Trigger": {
            "main": [
              [
                {
                  "node": "Find Category",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Find Category": {
            "main": [
              [
                {
                  "node": "Create Expense in Database",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Create Expense in Database": {
            "main": [
              [
                {
                  "node": "Format Response",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    },
    {
      "name": "House Members Tool",
      "workflow": {
        "name": "Tool - Get House Members",
        "nodes": [
          {
            "parameters": {},
            "id": "execute-workflow-trigger",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [240, 300]
          },
          {
            "parameters": {
              "resource": "row",
              "operation": "getAll",
              "tableId": "house_members",
              "returnAll": true,
              "filterType": "manual",
              "matchType": "allFilters",
              "filters": [
                {
                  "key": "house_id",
                  "operator": "eq",
                  "value": "={{ $json.house_id }}"
                },
                {
                  "key": "is_active",
                  "operator": "eq",
                  "value": "true"
                }
              ],
              "options": {}
            },
            "id": "get-members",
            "name": "Get House Members",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [460, 300],
            "credentials": {
              "supabaseApi": {
                "id": "supabase-creds",
                "name": "Supabase Luma"
              }
            }
          },
          {
            "parameters": {
              "jsCode": "const members = $input.all();\n\nconst processedMembers = members.map(member => {\n  const m = member.json;\n  return {\n    id: m.user_id,\n    name: m.user?.name || 'Sem nome',\n    email: m.user?.email || '',\n    role: m.role,\n    joined_at: m.joined_at,\n    is_active: m.is_active\n  };\n});\n\nconst byRole = processedMembers.reduce((acc, member) => {\n  acc[member.role] = (acc[member.role] || 0) + 1;\n  return acc;\n}, {});\n\nreturn [{\n  json: {\n    success: true,\n    members: processedMembers,\n    summary: {\n      total: processedMembers.length,\n      by_role: byRole\n    }\n  }\n}];"
            },
            "id": "process-members",
            "name": "Process Members",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [680, 300]
          }
        ],
        "connections": {
          "Execute Workflow Trigger": {
            "main": [
              [
                {
                  "node": "Get House Members",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get House Members": {
            "main": [
              [
                {
                  "node": "Process Members",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    }
  ],
  "installation_notes": {
    "description": "Sub-workflows (tools) que o AI Agent pode chamar para executar ações",
    "steps": [
      "1. Crie cada workflow separadamente no n8n",
      "2. Ative cada workflow",
      "3. Copie os IDs dos workflows criados",
      "4. No workflow principal, configure os Tool Workflow nodes com os IDs corretos",
      "5. Certifique-se de que as credenciais do Supabase estão configuradas em todos os workflows"
    ],
    "tools_created": [
      "Financial Summary Tool - Retorna resumo financeiro completo",
      "Tasks Tool - Lista tarefas com filtros",
      "Create Task Tool - Cria nova tarefa",
      "Create Expense Tool - Registra nova despesa",
      "House Members Tool - Lista membros da casa"
    ]
  }
}