Luma-workflows/luma_workflow_with_tools.json
{
  "name": "Luma - AI Assistant with Action Tools",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "luma/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "When Chat Message Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 400],
      "webhookId": "luma-chat-enhanced"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "house_id",
              "name": "house_id",
              "value": "={{ $json.body.house_id }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $json.body.house_id }}_{{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-context",
      "name": "Extract Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "id": "openai-model",
      "name": "OpenAI GPT-4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [680, 240],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI Luma"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 10
      },
      "id": "memory-buffer",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [680, 360]
    },
    {
      "parameters": {
        "name": "get_financial_summary",
        "description": "Get financial summary including recent expenses, monthly budget, and spending analysis for the house",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "financial-tool-workflow",
          "cachedResultName": "Financial Summary Tool"
        },
        "fields": {
          "values": [
            {
              "name": "house_id",
              "description": "The house ID to get financial data for"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"house_id\": \"uuid-string\"\n}"
      },
      "id": "financial-tool",
      "name": "Financial Summary Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 480]
    },
    {
      "parameters": {
        "name": "get_tasks",
        "description": "Get active and pending tasks for the house, including details like title, status, priority, due date, and assigned member",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "tasks-tool-workflow",
          "cachedResultName": "Tasks Tool"
        },
        "fields": {
          "values": [
            {
              "name": "house_id",
              "description": "The house ID to get tasks for"
            },
            {
              "name": "status_filter",
              "description": "Optional: Filter by status (PENDING, IN_PROGRESS, COMPLETED, CANCELLED)"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"house_id\": \"uuid-string\",\n  \"status_filter\": \"PENDING\"\n}"
      },
      "id": "tasks-tool",
      "name": "Tasks Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "name": "create_task",
        "description": "Create a new task for the house. Can assign to a specific member and set priority and due date",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "create-task-workflow",
          "cachedResultName": "Create Task Tool"
        },
        "fields": {
          "values": [
            {
              "name": "house_id",
              "description": "The house ID"
            },
            {
              "name": "created_by_id",
              "description": "User ID creating the task"
            },
            {
              "name": "title",
              "description": "Task title"
            },
            {
              "name": "description",
              "description": "Task description (optional)"
            },
            {
              "name": "priority",
              "description": "Priority: LOW, MEDIUM, HIGH, URGENT (default: MEDIUM)"
            },
            {
              "name": "due_date",
              "description": "Due date in ISO format (optional)"
            },
            {
              "name": "assigned_to_id",
              "description": "User ID to assign task to (optional)"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"house_id\": \"uuid\",\n  \"created_by_id\": \"uuid\",\n  \"title\": \"Comprar leite\",\n  \"description\": \"Leite integral 1L\",\n  \"priority\": \"MEDIUM\",\n  \"due_date\": \"2025-11-20T10:00:00Z\",\n  \"assigned_to_id\": \"uuid\"\n}"
      },
      "id": "create-task-tool",
      "name": "Create Task Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 720]
    },
    {
      "parameters": {
        "name": "create_expense",
        "description": "Register a new expense for the house. Can specify category, amount, description, and whether it's a recurring expense",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "create-expense-workflow",
          "cachedResultName": "Create Expense Tool"
        },
        "fields": {
          "values": [
            {
              "name": "house_id",
              "description": "The house ID"
            },
            {
              "name": "created_by_id",
              "description": "User ID creating the expense"
            },
            {
              "name": "amount",
              "description": "Expense amount in reais (e.g., 150.50)"
            },
            {
              "name": "description",
              "description": "Expense description"
            },
            {
              "name": "category",
              "description": "Category name (e.g., 'Alimentação', 'Aluguel', 'Energia')"
            },
            {
              "name": "expense_date",
              "description": "Expense date in ISO format (default: today)"
            },
            {
              "name": "is_recurring",
              "description": "Is this a recurring expense? (true/false, default: false)"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"house_id\": \"uuid\",\n  \"created_by_id\": \"uuid\",\n  \"amount\": 150.50,\n  \"description\": \"Conta de luz\",\n  \"category\": \"Energia\",\n  \"expense_date\": \"2025-11-15T12:00:00Z\",\n  \"is_recurring\": true\n}"
      },
      "id": "create-expense-tool",
      "name": "Create Expense Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 840]
    },
    {
      "parameters": {
        "name": "get_house_members",
        "description": "Get information about house members, including their roles and activity status",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "members-tool-workflow",
          "cachedResultName": "House Members Tool"
        },
        "fields": {
          "values": [
            {
              "name": "house_id",
              "description": "The house ID to get members for"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"house_id\": \"uuid-string\"\n}"
      },
      "id": "members-tool",
      "name": "House Members Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 960]
    },
    {
      "parameters": {
        "promptType": "auto",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "=Você é Luma 🏠, uma assistente de IA inteligente e amigável para gestão doméstica.\n\n**CONTEXTO DA CASA:**\n- House ID: {{ $json.house_id }}\n- User ID: {{ $json.user_id }}\n\n**SUAS CAPACIDADES:**\n\n1. 💰 **Finanças:** Consultar despesas, orçamento, criar novos registros\n2. 📋 **Tarefas:** Listar tarefas, criar novas, atribuir responsáveis\n3. 👥 **Membros:** Ver quem mora na casa, papéis e status\n\n**FERRAMENTAS DISPONÍVEIS:**\n- `get_financial_summary`: Resumo financeiro completo\n- `get_tasks`: Listar tarefas ativas\n- `create_task`: Criar nova tarefa\n- `create_expense`: Registrar despesa\n- `get_house_members`: Informações dos membros\n\n**COMO RESPONDER:**\n\n1. **Seja Natural e Amigável:**\n   - Use emojis relevantes (mas não exagere)\n   - Trate o usuário de forma calorosa\n   - Use linguagem brasileira informal mas respeitosa\n\n2. **Seja Proativa:**\n   - Quando listar despesas, calcule totais e dê insights\n   - Quando listar tarefas, destaque as urgentes ou atrasadas\n   - Sugira ações quando apropriado\n\n3. **Seja Precisa:**\n   - Use as ferramentas para buscar dados reais\n   - Formate valores monetários: R$ 1.234,56\n   - Formate datas de forma legível: \"15 de novembro\"\n\n4. **Seja Útil:**\n   - Se o usuário pedir para criar algo, use a ferramenta apropriada\n   - Confirme ações realizadas\n   - Peça informações faltantes quando necessário\n\n**EXEMPLOS:**\n\n👤 \"Como estão as finanças?\"\n💡 Use `get_financial_summary` → \"Olá! 💰 Este mês vocês gastaram R$ 3.450 de um orçamento de R$ 4.000 (86%). As maiores despesas foram: Aluguel (R$ 1.500), Supermercado (R$ 980) e Energia (R$ 340). Ainda restam R$ 550 para os próximos 10 dias. Quer ver mais detalhes?\"\n\n👤 \"Crie uma tarefa para comprar leite\"\n💡 Use `create_task` → \"Perfeito! ✅ Criei a tarefa 'Comprar leite'. Para quando você precisa? E quer atribuir a alguém específico?\"\n\n👤 \"Quais as tarefas dessa semana?\"\n💡 Use `get_tasks` → \"Aqui estão as tarefas desta semana: ✅ Limpeza da sala (Maria - Concluída) 📋 Fazer compras (João - Pendente, vence amanhã) ⚠️ Pagar conta de luz (Você - Atrasada 2 dias)\"\n\n**REGRAS IMPORTANTES:**\n- Sempre use as ferramentas para buscar dados atualizados\n- Nunca invente números ou datas\n- Se não souber algo, admita e ofereça ajuda de outra forma\n- Para criar tarefas/despesas, use os IDs corretos do contexto\n- Mantenha respostas concisas mas completas"
        }
      },
      "id": "ai-agent",
      "name": "Luma AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "conversations",
        "dataMode": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "house_id",
              "fieldValue": "={{ $('Extract Context').item.json.house_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Extract Context').item.json.user_id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Extract Context').item.json.message }}"
            },
            {
              "fieldId": "response",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({\n  session_id: $('Extract Context').item.json.session_id,\n  processing_time_ms: $now.diff($('When Chat Message Received').item.json.timestamp || $now, 'milliseconds'),\n  tools_used: $json.usedTools || [],\n  model: 'gpt-4o'\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-conversation",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Luma"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  response: $('Luma AI Agent').item.json.output,\n  metadata: {\n    session_id: $('Extract Context').item.json.session_id,\n    processing_time_ms: $now.diff($('When Chat Message Received').item.json.timestamp || $now, 'milliseconds'),\n    tools_used: $('Luma AI Agent').item.json.usedTools || [],\n    model: 'gpt-4o'\n  }\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-to-webhook",
      "name": "Send Response to App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "content": "## 🤖 Luma AI Assistant - Enhanced with Action Tools\n\n**Fluxo Principal:**\n1. Recebe mensagem via webhook POST /luma/chat\n2. Extrai contexto (house_id, user_id, message)\n3. AI Agent processa com GPT-4 + Memory\n4. Agent pode usar ferramentas:\n   - 💰 Financial Summary (consulta despesas e orçamento)\n   - 📋 Get Tasks (lista tarefas)\n   - ✅ Create Task (cria nova tarefa)\n   - 💵 Create Expense (registra despesa)\n   - 👥 Get House Members (info membros)\n5. Salva conversa no Supabase\n6. Retorna resposta JSON para o app\n\n**Diferenciais:**\n✨ Agent decide automaticamente quais ferramentas usar\n✨ Pode executar ações (criar tarefas/despesas)\n✨ Memória de conversação persistente\n✨ Respostas contextualizadas e inteligentes\n\n**Exemplo de Request:**\n```json\n{\n  \"house_id\": \"abc-123\",\n  \"user_id\": \"user-456\",\n  \"message\": \"Crie uma tarefa para comprar leite amanhã\"\n}\n```\n\n**Exemplo de Response:**\n```json\n{\n  \"success\": true,\n  \"response\": \"Perfeito! ✅ Criei a tarefa 'Comprar leite' para amanhã. Quer que eu atribua a alguém específico?\",\n  \"metadata\": {\n    \"session_id\": \"abc-123_user-456\",\n    \"processing_time_ms\": 1250,\n    \"tools_used\": [\"create_task\"],\n    \"model\": \"gpt-4o\"\n  }\n}\n```\n\n**Configuração:**\n- Supabase API credentials\n- OpenAI API key (GPT-4)\n- Tool workflows devem estar criados\n- Webhook ativo em produção",
        "height": 680,
        "width": 420,
        "color": 5
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 60]
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "Extract Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context": {
      "main": [
        [
          {
            "node": "Luma AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "Luma AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Luma AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Financial Summary Tool": {
      "ai_tool": [
        [
          {
            "node": "Luma AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Tool": {
      "ai_tool": [
        [
          {
            "node": "Luma AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Task Tool": {
      "ai_tool": [
        [
          {
            "node": "Luma AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Expense Tool": {
      "ai_tool": [
        [
          {
            "node": "Luma AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "House Members Tool": {
      "ai_tool": [
        [
          {
            "node": "Luma AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Luma AI Agent": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Send Response to App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "id": "luma-ai",
      "name": "Luma AI"
    },
    {
      "id": "home-management",
      "name": "Home Management"
    },
    {
      "id": "ai-tools",
      "name": "AI Tools"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-15T20:30:00.000Z",
  "versionId": "2"
}